<h1>NBA Quiz</h1>
<div>説明：NBA選手が出てきます。回答欄に選手の名前を入力してください。</div>
<div>
<input type="submit" value="表示" class="stop-btn" id="stop">
</div>

<img class="random" alt="画像" id="ran">


<form class="contact-form" onsubmit="return false">
<input type="text" placeholder="解答欄 例:micheal jordan" class="name_form" id="name-form">
<input type="submit" value="解答" class="send" id="send">
  </form>

 <div id="did"></div>
<div id="explain"></div>
  </body>